@import '~bootstrap/scss/bootstrap.scss';
@import './resources.scss'; // bring in Bootstrap variables
@import './components/loader.scss';

$darkblue: #162836;
$lightblue: transparentize($darkblue, 0.3);
$borderblue: transparentize($darkblue, 0.9);
$homeTeamColor: #ea2212;
$awayTeamColor: #00529f;

$screen-md-min: 992px; // to fix

body {
  // padding-top: 70px;
}
.navbar-inverse {
  background-color: $darkblue;
}
.navbar {
  min-height: 70px;
  padding-top: 10px;
}
.user-info {
  margin-right: 10px !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 8px;
}
.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-header {
  text-align: center;
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
  }
  @media (min-width: $screen-md-min) {
    h1 {
      font-size: 70px;
    }
    p {
      font-size: 26px;
    }
  }
  .feature {
    margin: 40px 0;
    padding: 270px 20px 20px 20px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
    &.feature-main {
      padding-top: 20px;
      margin-top: 0;
      padding-bottom: 270px;
      background: url('../images/img_hero-main-small.jpg') no-repeat
        bottom center;
      background-size: auto 250px;
    }
    &.feature-firebase {
      background: url('../images/img_hero-firebase.jpg') no-repeat top
        center;
      background-size: auto 250px;
    }
    &.feature-hth {
      background: url('../images/img_hero-head-to-heads.jpg')
        no-repeat top center;
      background-size: auto 250px;
    }
    &.feature-admin {
      background: url('../images/img_hero-admin.jpg') no-repeat top
        center;
      background-size: auto 250px;
    }
    &.feature-quote {
      padding: 20px;
      background-color: #f5f5f5;
      p {
        font-size: 24px;
        margin: 0;
      }
    }
    @media (min-width: $screen-md-min) {
      width: 33%;
      float: left;
      &.feature-main {
        width: 80%;
        margin: 0 auto 50px auto;
        float: none;
        background: url('../images/img_hero-main.jpg') no-repeat
          bottom center;
        background-size: 100% auto;
        p {
          font-size: 20px;
        }
      }
      &.feature-quote {
        p {
          font-size: 36px;
        }
        width: 100%;
        margin: 0 auto 50px auto;
      }
    }
  }
}
.hth-block {
  margin-top: 40px;
  margin-bottom: 30px;
  transition: 0.2s border-color linear;
  &:first-child {
    margin-top: 0;
  }
  &__item {
    display: block;
    color: $lightblue;
    &:last-child {
      border-bottom: none;
    }
    &__title {
      display: block;
      font-size: 18px !important;
      margin-top: -14px;
      color: $darkblue;
      .center-teams__home,
      .center-teams__away {
        width: calc(50% - 15px);
      }
      .center-teams__center {
        font-weight: bold;
      }
    }
    &__body {
      display: block;
      padding: 10px 0;
    }
    &__label {
      display: block;
      text-align: center;
      margin-bottom: 0;
      &.is-large {
        font-size: 18px;
        margin: 20px 0 10px 0;
      }
    }
    &.is-winning {
      background: url('../images/ico_star.svg') no-repeat 30px 25px;
      background-size: 40px 40px;
      &.away-team {
        background-position: calc(100% - 30px) 25px;
      }
    }
  }
  border: 1px solid $borderblue;
  &:hover,
  &:focus,
  &:visited {
    border-color: $darkblue;
    text-decoration: none;
    cursor: pointer;
    .hth-block__item {
      border-color: $darkblue;
      text-decoration: none;
      color: $lightblue;
    }
  }
  .hth-block__details {
    display: none;
  }
  &.with-details {
    &:hover,
    &:focus,
    &:visited {
      border-color: $borderblue;
      text-decoration: none;
      cursor: default;
    }
    .hth-block__details,
    .btn-show-all {
      display: block;
    }
    .ico-player {
      display: inline-block;
    }
  }
}
.center-teams {
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  &__center {
    width: 50px;
    display: inline-block;
    background-color: white;
    &.is-winner-home {
      color: #fff;
      background-color: $homeTeamColor;
    }
    &.is-draw {
      background-color: rgba(22, 40, 54, 0.2);
    }
    &.is-winner-away {
      color: #fff;
      background-color: $awayTeamColor;
    }
  }
  &__home,
  &__away {
    position: absolute;
    top: 50%;
    width: calc(50% - 25px);
    display: block;
    span {
      background-color: white;
    }
  }
  &__home {
    text-align: right;
    left: 0;
    transform: translateY(-50%);
    span {
      padding-left: 7px;
    }
  }
  &__away {
    text-align: left;
    left: auto;
    right: 0;
    transform: translateY(-50%);
    span {
      padding-right: 7px;
    }
    .ico-player {
      margin: 0 0 0 7px !important;
      .color {
        fill: $awayTeamColor !important;
      }
    }
  }
  .ico-player {
    width: 18px;
    height: 15px;
    display: none;
    margin: 0 7px 0 0;
    .color {
      fill: $homeTeamColor;
    }
  }
  &.is-game {
    padding: 8px 0;
    max-width: 95%;
    margin: 0 auto;
    border-top: 1px solid $borderblue;
    font-size: 14px;
    .is-winner {
      font-weight: bold;
    }
    .center-teams__center {
      width: 64px;
    }
    .center-teams__home,
    .center-teams__away {
      width: calc(50% - 42px);
    }
  }
}
.btn-show-all {
  max-width: 95%;
  margin: 0 auto 10px auto;
  display: none;
}
.page-header {
  margin-bottom: 50px;
}
.form-add-game {
  .sidebar & {
    &.is-hidden {
      display: none;
    }
  }
}
#login-form {
  max-width: 420px;
  margin: 0 auto;
  clear: both;
}
#login-alert {
  margin: 0;
}
.credits {
  text-align: center;
  color: #333333;
  padding: 70px;
  opacity: 0.2;
  transition: opacity 0.3s linear;
  &:hover {
    opacity: 1;
  }
  a {
    color: #333333;
  }
}
